# 1. Overview

The notebook covers data preparation for ASML and its suppliers, focusing on combining weekly stock data and adding binary variables for exogenous events like COVID, geopolitical tensions, and tech regulations. It starts with data loading and merging steps, ensuring a consistent weekly frequency across datasets. After checking for missing values, the document introduces binary indicators to represent the occurrence of specific external events over time. Finally, the combined dataset is exported for further analysis, encapsulating all relevant market and geopolitical factors.

# 2. Data Understanding

## 2.1. Data Description

## 2.2. Import Necessary Libraries

In [1]:
import pandas as pd

## 2.3. Define global variables

In [2]:
input_data_asml = 'data/weekly_data_asml.csv'
input_data_suppliers = 'data/weekly_data_suppliers.csv'
output_data = 'data/weekly_data_combination.csv'

## 2.4. Functions

In [3]:
# Function to add exogenous variables to the future_dataframe
def add_exogenous_variables(weekly_data):
    """
    Input: future_df (DataFrame) - A DataFrame containing future dates in the 'ds' column.
    Output: future_df (DataFrame) - The same DataFrame with added binary columns for each exogenous event.
    Logic: Adds binary indicators for each specified geopolitical and economic event based on predefined date ranges.
    """
    
    # Define the date ranges for each exogenous event
    covid_start = '2020-01-01'
    covid_end = '2022-12-31'

    geopolitical_tension_start = '2022-02-01'
    geopolitical_tension_end = '2025-12-31'

    trade_sanctions_start = '2018-07-01'
    trade_sanctions_end = '2029-12-31'

    tech_regulation_start = '2020-06-01'
    tech_regulation_end = '2029-12-31'

    new_product_launch_start = '2023-12-01'
    new_product_launch_end = '2025-12-31'

    israel_gaza_conflict_start = '2023-10-07'
    israel_gaza_conflict_end = '2025-12-31'

    # COVID Period
    weekly_data['COVID_Period'] = ((weekly_data.index >= covid_start) & 
                                 (weekly_data.index <= covid_end)).astype(int)
    
    # Geopolitical Tensions (Ukraine Conflict)
    weekly_data['Geopolitical_Tension'] = ((weekly_data.index >= geopolitical_tension_start) & 
                                         (weekly_data.index <= geopolitical_tension_end)).astype(int)
    
    # US-China Trade War
    weekly_data['Trade_Sanctions'] = ((weekly_data.index >= trade_sanctions_start) & 
                                    (weekly_data.index <= trade_sanctions_end)).astype(int)
    
    # Tech Regulation (Export Restrictions)
    weekly_data['Tech_Regulation'] = ((weekly_data.index >= tech_regulation_start) & 
                                    (weekly_data.index <= tech_regulation_end)).astype(int)
    
    # New EUV Machine Launch (TWINSCAN EXE:5000)
    weekly_data['New_Product_Launch'] = ((weekly_data.index >= new_product_launch_start) & 
                                       (weekly_data.index <= new_product_launch_end)).astype(int)
    
    # Israel-Gaza Conflict
    weekly_data['Israel_Gaza_Conflict'] = ((weekly_data.index >= israel_gaza_conflict_start) & 
                                         (weekly_data.index <= israel_gaza_conflict_end)).astype(int)

## 2.5. Code

### 2.5.1. Looking at the datasets

**ASML**

In [4]:
weekly_data_asml = pd.read_csv(input_data_asml, sep=';')

# Ensure the 'Date' column is in datetime format
weekly_data_asml['Date'] = pd.to_datetime(weekly_data_asml['Date'])

# Set the 'Date' column as the index to make it a DatetimeIndex
weekly_data_asml.set_index('Date', inplace=True)

# Explicitly set the frequency of the Date index
weekly_data_asml = weekly_data_asml.asfreq('W')

# Rename the 'Close' column to 'Close_ASML'
weekly_data_asml.rename(columns={'Close': 'Close_ASML'}, inplace=True)

weekly_data_asml

            Close_ASML
Date
2018-01-14  168.662338
2018-01-21  185.736526
2018-01-28  191.564713
2018-02-04  187.825333
2018-02-11  174.080200
...                ...
2024-10-20  721.570862
2024-10-27  710.037903
2024-11-03  683.830017
2024-11-10  671.159973
2024-11-17  673.409973

[358 rows x 1 columns]

**Suppliers**

In [5]:
weekly_data_suppliers = pd.read_csv(input_data_suppliers, sep=';')

# Ensure the 'Date' column is in datetime format
weekly_data_suppliers['Date'] = pd.to_datetime(weekly_data_suppliers['Date'])

# Set the 'Date' column as the index to make it a DatetimeIndex
weekly_data_suppliers.set_index('Date', inplace=True)

# Explicitly set the frequency of the Date index
weekly_data_suppliers = weekly_data_suppliers.asfreq('W')

# Drop certain columns
weekly_data_suppliers = weekly_data_suppliers.drop(['Date.1'], axis=1)

weekly_data_suppliers

,Close_Carl_Zeiss_Meditec,Close_Lam_Research_Corporation,Close_Tokyo_Electron_Limited,Close_Taiwan_Semiconductor_Manufacturing_Company,Close_Samsung_Electronics,Close_Intel_Corporation,Weekday,Month,Quarter
Date,,,,,,,,,
2018-01-07,59.808323,9.458280,31.770000,34.899946,42744.218750,37.777317,2.5,1.0,1.0
2018-01-14,60.946629,9.395534,32.766666,34.648258,40654.875000,36.442513,2.0,1.0,1.0
2018-01-21,60.851776,10.062473,34.386667,36.787565,41304.156250,37.303001,2.0,1.0,1.0
2018-01-28,61.373489,10.254886,34.026669,38.356380,41071.078125,38.406937,2.0,1.0,1.0
2018-02-04,61.335548,9.367100,31.420000,38.012417,41470.640625,40.413342,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
2024-10-20,67.094002,74.139999,81.540001,192.210007,59500.000000,22.660000,2.0,10.0,4.0
2024-10-27,67.529999,73.000000,76.709999,200.860001,57700.000000,22.400000,2.0,10.0,4.0
2024-11-03,65.550003,75.449997,77.500000,194.479996,59100.000000,22.900000,2.0,10.0,4.0
2024-11-10,62.200001,76.779999,76.449997,195.759995,57300.000000,25.049999,2.0,11.0,4.0
2024-11-17,61.439999,75.244999,73.739998,190.135002,51800.000000,24.975000,1.5,11.0,4.0

Let's create a weekly_data dataframe from both weekly_data_asml and weekly_data_suppliers

In [6]:
weekly_data = weekly_data_asml.join(weekly_data_suppliers, how='inner')
weekly_data

,Close_ASML,Close_Carl_Zeiss_Meditec,Close_Lam_Research_Corporation,Close_Tokyo_Electron_Limited,Close_Taiwan_Semiconductor_Manufacturing_Company,Close_Samsung_Electronics,Close_Intel_Corporation,Weekday,Month,Quarter
Date,,,,,,,,,,
2018-01-14,168.662338,60.946629,9.395534,32.766666,34.648258,40654.875000,36.442513,2.0,1.0,1.0
2018-01-21,185.736526,60.851776,10.062473,34.386667,36.787565,41304.156250,37.303001,2.0,1.0,1.0
2018-01-28,191.564713,61.373489,10.254886,34.026669,38.356380,41071.078125,38.406937,2.0,1.0,1.0
2018-02-04,187.825333,61.335548,9.367100,31.420000,38.012417,41470.640625,40.413342,2.0,1.0,1.0
2018-02-11,174.080200,58.831284,8.350875,28.526667,35.134853,38290.832031,37.374352,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...
2024-10-20,721.570862,67.094002,74.139999,81.540001,192.210007,59500.000000,22.660000,2.0,10.0,4.0
2024-10-27,710.037903,67.529999,73.000000,76.709999,200.860001,57700.000000,22.400000,2.0,10.0,4.0
2024-11-03,683.830017,65.550003,75.449997,77.500000,194.479996,59100.000000,22.900000,2.0,10.0,4.0
2024-11-10,671.159973,62.200001,76.779999,76.449997,195.759995,57300.000000,25.049999,2.0,11.0,4.0
2024-11-17,673.409973,61.439999,75.244999,73.739998,190.135002,51800.000000,24.975000,1.5,11.0,4.0

Display the total number of nulls per column

In [7]:
nulls_per_column = weekly_data.isnull().sum()

nulls_per_column

Close_ASML                                          0
Close_Carl_Zeiss_Meditec                            0
Close_Lam_Research_Corporation                      0
Close_Tokyo_Electron_Limited                        0
Close_Taiwan_Semiconductor_Manufacturing_Company    0
Close_Samsung_Electronics                           0
Close_Intel_Corporation                             0
Weekday                                             0
Month                                               0
Quarter                                             0
dtype: int64

### 2.5.2 Add binary variables

In [8]:
# Apply the function to weekly_data
add_exogenous_variables(weekly_data)

In [9]:
weekly_data

,Close_ASML,Close_Carl_Zeiss_Meditec,Close_Lam_Research_Corporation,Close_Tokyo_Electron_Limited,Close_Taiwan_Semiconductor_Manufacturing_Company,Close_Samsung_Electronics,Close_Intel_Corporation,Weekday,Month,Quarter,COVID_Period,Geopolitical_Tension,Trade_Sanctions,Tech_Regulation,New_Product_Launch,Israel_Gaza_Conflict
Date,,,,,,,,,,,,,,,,
2018-01-14,168.662338,60.946629,9.395534,32.766666,34.648258,40654.875000,36.442513,2.0,1.0,1.0,0,0,0,0,0,0
2018-01-21,185.736526,60.851776,10.062473,34.386667,36.787565,41304.156250,37.303001,2.0,1.0,1.0,0,0,0,0,0,0
2018-01-28,191.564713,61.373489,10.254886,34.026669,38.356380,41071.078125,38.406937,2.0,1.0,1.0,0,0,0,0,0,0
2018-02-04,187.825333,61.335548,9.367100,31.420000,38.012417,41470.640625,40.413342,2.0,1.0,1.0,0,0,0,0,0,0
2018-02-11,174.080200,58.831284,8.350875,28.526667,35.134853,38290.832031,37.374352,2.0,2.0,1.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-10-20,721.570862,67.094002,74.139999,81.540001,192.210007,59500.000000,22.660000,2.0,10.0,4.0,0,1,1,1,1,1
2024-10-27,710.037903,67.529999,73.000000,76.709999,200.860001,57700.000000,22.400000,2.0,10.0,4.0,0,1,1,1,1,1
2024-11-03,683.830017,65.550003,75.449997,77.500000,194.479996,59100.000000,22.900000,2.0,10.0,4.0,0,1,1,1,1,1
2024-11-10,671.159973,62.200001,76.779999,76.449997,195.759995,57300.000000,25.049999,2.0,11.0,4.0,0,1,1,1,1,1
2024-11-17,673.409973,61.439999,75.244999,73.739998,190.135002,51800.000000,24.975000,1.5,11.0,4.0,0,1,1,1,1,1

# 3. Export

In [10]:
# Export the weekly_data_suppliers to a CSV file
weekly_data.to_csv(output_data, index=True, sep=';')